# GIT-NPM common
# --------------
# All projects
logs
*.log
npm-debug.log*
package-*.json
dcs_config.json
const
pids
*.pid
*.seed
node_modules
/coverage
/.nyc_output
/.nyc_tmp
snowboy/build/
snowboy/package-lock.json
*.sublime-project
*.sublime-workspace

# Project-specific


# GIT-specific
# ------------
# All projects
